{% for node in include.chapters %}
{% assign chapter = site.chapters | where: 'slug', node.id | first %}
{% if chapter.enabled == false %}{% continue %}{% endif %}
<li class="group">
  <a href="#{{ chapter.slug }}">{{ chapter.title }}</a>
  {% if node.children %}
    <button class="expand-subnav"
      aria-expanded="false"
      aria-controls="nav-collapsible-{{ chapter.slug }}">+</button>
    <ol class="nav-children" id="nav-collapsible-{{ chapter.slug }}" aria-hidden="true">
      {% include loop-nav.html chapters=node.children %}
    </ol>
  {% endif %}
</li>
{% endfor %}
