<aside>
  <p class="intro">{{ site.subtitle }}</p>
  <a class="skip-link visuallyhidden focusable" href="#main">Skip to Main Content</a>
  <nav class="sidebar-nav" role="navigation">
    <ul>
      {% for link in site.navigation %}
        <li class="group {% if page.title == link.text %}sidebar-nav-active{% endif %}">
          <a href="{% if link.internal == true %}{{ site.baseurl }}/{% endif %}{{ link.url }}"  
            title="{% if page.title == link.text %}Current Page
                  {% else %}{{ link.text }}{% endif %}">{{ link.text }}</a>
          {% if link.children %}
            <button class="expand-subnav"
                    aria-expanded="{% if link.text == page.parent or link.text == page.title %}true{% else %}false{% endif %}"
                    aria-controls="nav-collapsible-{{ forloop.index }}">+</button>
            <ul class="nav-children" id="nav-collapsible-{{ forloop.index }}" 
                aria-hidden="{% if link.text == page.parent or link.text == page.title %}false{% else %}true{% endif %}">
              {% for child in link.children %}
                <li class="{% if page.title == child.text %}sidebar-nav-active{% endif %}">
                  <a href="{% if link.internal == true %}{{ site.baseurl }}/{{ link.url }}{% endif %}{{ child.url }}"  
                    title="{% if page.title == child.text %}Current Page
                          {% else %}{{ child.text }}{% endif %}">{{ child.text }}</a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </nav>
</aside>
