// Just put any changed settings in here!

$theme-show-notifications: false;
$theme-font-type-sans: "helvetica";
$theme-font-role-heading: "sans";

$theme-color-primary-dark: "blue-80v";
$theme-color-primary-darker: "blue-90";
$theme-type-scale-sm: 6;
$theme-type-scale-md: 7;
