/*
This is where custom styles for your guide should live.
*/

div.skip-nav a {
  position: absolute;
  left: -10000;
  top: 0;
  width: 1px;
  height: auto;
  overflow: hidden;
}
div.skip-nav a:focus {
	position: absolute;
	top: 5px;
	left: 5px;
	width: auto; 
	height: auto;
	z-index: 999999;
	background-color: white;
	padding-left: 2px;
	padding-right: 2px;
	overflow: visible;
 }

 .mainContent:focus {
 	outline: none;
 }

 table, th, td {
   border: 1px solid black;
   padding: 5px;
   margin:5px;
}
th {
	background: #767576;
	color:white;
}
li.active > a{
	background-color: #317ab9;
}

