---
---

@import "guides_style_18f";

.nav-children {
  overflow: hidden;
}

nav a[aria-active=true]:link {
  background: transparent;
  // XXX this isn't turning links black for me...
  color: #000;
  font-weight: bold;
}

// add the nav active indicator to targeted section titles
section:target > h1,
h2:target,
h3:target {
  border-left: 4px solid #1188ff;
  padding-left: 10px;
}

section section {
  padding-left: 1em;
}

pre {
  overflow-y: hidden;
}

.anchorjs-link {
  color: #999;
}

nav .group {
  overflow: visible;
  position: relative;

  .expand-subnav {
    float: none;
    margin: 0;
    position: absolute;
    right: 0;
    top: 7px;
  }

  .group .expand-subnav {
    top: 0px;
  }
}

@media screen and (min-width: 640px) {

  .content {
    display: flex;

    main {
      flex: 7;
      float: none;
      order: 2;
      width: auto;
      // ensure that the main content (and hanging anchor links)
      // goes above the sidebar
      z-index: 2;
    }

    aside {
      flex: 3;
      float: none;
      min-width: 16em;
      order: 1;
      width: auto;
    }
  }

  nav {
    padding-right: 2em;

    ol {
      padding: 0;
      margin: 0;

      ol {
        margin-left: 1em;
      }
    }
  }

  .js-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
}
