{% if footer %}
<footer class="usa-footer usa-footer-medium" role="contentinfo">

  {% if footer.top %}
  <div class="usa-grid usa-footer-return-to-top">
    <a href="{{ footer.top.href | default: '#' }}">{{ footer.top.text | default: 'Return to top' }}</a>
  </div>
  {% endif %}

  {% if footer.links %}
    {% assign footer_links = site.data.navigation[footer.links] | default: footer.links %}
    {% assign _sizes = 'whole half third fourth sixth' | split: ' ' %}
    {% assign _size = footer_links.size | minus: 1 %}
    {% assign _size = _sizes[_size] | default: 'whole' %}
  <div class="usa-footer-primary-section">
    <div class="usa-grid">
      <nav class="usa-footer-nav">
        <ul class="usa-unstyled-list">
          {% for _link in footer_links %}
          <li class="usa-width-one-{{ _size }} usa-footer-primary-content">
            <a class="usa-footer-primary-link" href="{% if _link.external == true %}{{ _link.href }}{% else %}{{ _link.href | relative_url }}{% endif %}">
              {{ _link.text }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
  {% endif %}

  {% if footer.contact %}
  <div class="usa-footer-secondary_section">
    <div class="usa-grid">
      <div class="usa-footer-logo usa-width-one-half">
        {% for logo in footer.logos -%}
          {% if logo.url %}<a href="{{ logo.url }}">{% endif %}
        <img class="usa-footer-logo-img" src="{{ logo.src | relative_url }}" alt="{{ logo.alt }}"
          {% if logo.width %}width="{{ logo.width }}"{% endif %}
          {% if logo.height %}height="{{ logo.height }}"{% endif %}>
          {% if logo.url %}</a>{% endif %}
        {% endfor %}
        {% if footer.heading %}
        <h3 class="usa-footer-logo-heading">{{ footer.heading }}</h3>
        {% endif %}
      </div>
      <div class="usa-footer-contact-links usa-width-one-half">

        {% assign contact_links = site.data.navigation[footer.contact.links] | default: footer.contact.links %}
        {% for _link in contact_links %}
        <a class="usa-link-{{ _link.type | default: 'generic' }}" href="{% if _link.external == true %}{{ _link.href }}{% else %}{{ _link.href | relative_url }}{% endif %}">
          <span>{{ _link.text }}</span>
        </a>
        {% endfor %}

        {% if footer.contact.address %}
        <address>
          {% if footer.contact.heading %}
          <h3 class="usa-footer-contact-heading">{{ footer.contact.heading }}</h3>
          {% endif %}
          {{ footer.contact.address | markdownify }}

        </address>
        {% endif %}
        <a class="usa-footer-primary-link" href="{{ site.repo.url }}/edit/{{ repo.default_branch | default: 'master' }}/{{ page.path }}">{{repo.url}}Edit this page</a>
      </div>
    </div>
  </div>
  {% endif %}

</footer>
{% endif %}
