<!DOCTYPE html>
<html lang='en'>

  {% include header.html %}

  <body>

    <div class="container">

      <header role="banner">

        <div class="wrap">
          {% if site.logourl != null %}
            <img class="logo" src="{{ site.baseurl }}{{ site.logourl }}" alt="{{ site.logoalt }}" width="75px">
          {% endif %}
          <h1 class="site-title"><a class="title-link" href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
        </div>
        
      </header>

      <div class="wrap content">

        {% include sidebar.html %}

        <section id="main" class="main-content" role="main">
          <h1>{{ page.title }}</h1>
          {{ content }}
        </section>

      </div><!-- /.wrap content -->

      {% include footer.html%}

    </div> <!-- /.container -->

    {% include scripts.html %}

  </body>

</html>
